.contact-list-container {
    margin: 32px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    padding: 10px;
    max-height: 582px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}