.contact-card-container {
    display: flex;
    outline: none;
    flex-direction: column;
    height: 120px;
    border-radius: 8px;
    padding: 8px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 28px;
}

.contact-card {
    padding: 10px;
    background-color: #FAFAFA;
}

.contact-card__first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 8px;
}

.contact-card__name {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.contact-card__second-section {
    width: 100%;
    margin-bottom: 8px;
}

.contact-card__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
    font-size: 13px;
}

.contact-card__details > p {
    margin: 5px 10px;

}

.contact-card .contact-card__delete {
    display: none;
}

.contact-card:hover .contact-card__delete {
    display: block;
}